:root {
  --primary-color: #741a9e;
  --secondary-color: #e7c8e7;
  --tertiary-color: #e285e2;
  --background-color: #e7e3f1;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --gradient-color: linear-gradient(to top right, #66ffcc 0%, #ff99ff 100%);
}

html {
  min-height: 120%;
}
body {
  margin: 60px auto;
  max-width: 800px;
  background: var(--gradient-color);
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  margin-bottom: 20px;
}

h2 {
  font-size: 48px;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--background-color);
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.about-text {
  display: flex;
  margin: 30px 0;
}

.contact-link,
.about-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--secondary-color);
}
.email-image {
  width: 50px;
}
.contact-me,
.email {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.email {
  text-decoration: none;
  color: var(--primary-color);
}

.email:hover {
  text-decoration: underline;
  color: var(--tertiary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-link:hover {
  background-color: var(--tertiary-color);
  transition: all 200ms ease-in-out;
}
